/* Color Pallet */

:root {
    --oscuro: #2c2c2c;
    --botonFondo: #8b8b8b;
    --redesSociales: #8e8e8e;
    --white: #dbdbdb;
    --black: #000000;
    --letra_clara: #dbdbdb;
    --letra_oscura: #2c2c2c;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}