@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');

/* Color Pallet */

:root {
    --g1: #7cdf4e;
    --g2: #b0f98e;
    --g3: #e9f5fc;
    --p1: #4550bb;
    --p2: #4e5cff;
    --p3: #91adff;
    --r1: #ff6e5d;
    --r2: #ffa17c;
    --r3: #ffa59b;
    --r4: #fdb2c0;
    --b1: #192420;
    --b2: #293342;
    --b3: #424f4b;
    --b4: #61706b;
    --h:  #d3d3d3;
}

*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
body{
    background-color: var(--h);
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: var(--b1);
    font-size: 14px;
}
nav ul li a:hover{
    color: var(--r1);
}

/*
    Slider
*/
.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
    text-decoration: none;
    color: var(--b1);
	width: 5rem;
	height: 1.5rem;
    text-align: center;
    border-radius: 1.5rem;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

.container h1{
    text-align: center;
    padding-bottom: 0.5rem;
}

.social-links img{
    height: 13px;
    margin: 20px;
    cursor: pointer;
}
.social-links{
    text-align: center;
    position: relative;
    padding-top: 3rem;
}
